html {
  background-color: rgb(100, 100, 100);
  padding: 0;
  margin: 0;
}

body {
  padding-bottom: 2rem;
}

canvas {
  display: block;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: wheat;
}

footer {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem, 0, 1rem, 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.game-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

#camera-debug,
#game-debug,
#performance-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0;
}

#stop-game {
  margin: 0;
}

#game-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  color: greenyellow;
  font-family: "Courier New", Courier, monospace;
}

#map-selct {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin: 0;
}

#debug-screen {
  display: none;
  width: 100%;
  padding: 1rem, 1rem, 1rem, 1rem;
  background-color: skyblue;
  /* Add other styles as needed */
}

#debug-screen.show {
  display: block;
  text-align: center;
}

#controls {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0;
}

#controls > div > button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #ccc;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

#jump {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #ccc;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

#controls > button:active,
#controls > div > button:active {
  background-color: darkgray;
}

.controls--movement,
.controls--look {
  display: grid;
  grid-template-areas:
    ". up ."
    "left . right"
    ". down .";
  gap: 0px;
}
#move-up,
#look-up {
  grid-area: up;
}

#move-left,
#look-left {
  grid-area: left;
}

#move-down,
#look-down {
  grid-area: down;
}

#move-right,
#look-right {
  grid-area: right;
}
