html {
  background-color: rgb(100, 100, 100);
}

#camera-debug,
#game-debug,
#performance-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
}

#debug-screen {
  display: none;
  padding: 1rem;
  background-color: skyblue;
  /* Add other styles as needed */
}

#debug-screen.show {
  display: block;
}
